.wrapper {
  position: relative;
  margin-top: 50px;
  margin-left: 45%;
  margin-right: 92px;
}
@media screen and (max-width: 1397px) {
  .wrapper {
    margin-left: 39%;
  }
}
@media screen and (max-width: 1254px) {
  .wrapper {
    margin-left: 35%;
  }
}
@media screen and (max-width: 1152px) {
  .wrapper {
    position: relative;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

.light-theme {
   --body-background-color: #fff;
   --header-background-color: #fff;
   --logo-color: #262728;
   --title-color: #262728;
   --paragraph-text-color: #585858;
   --dark-text-color: #000;
   --social-color: #262728;
   --social-background-color: #ffffff;
}
.dark-theme {
  --body-background-color: #0e0e0e;
  --header-background-color: #484444;
  --logo-color: black;
  --title-color: #E5E5CB;
  --paragraph-text-color: #E5E5CB;
  --dark-text-color: #E5E5CB;
  --social-color: #fafafb;
  --social-background-color: #4f4c4c;
}


